
/* Style the video: 100% width and height to cover the entire window */
/*
#myVideo {
    position: fixed;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    #myVideo {

        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    #myVideo {

        width:auto;
        height: 100%;
    }
}

@media (max-width:767px){
    #myVideo{
        display: none;
    }
    body{
        background: url('../../../../../../Downloads/pre-loading_w:o.mp4');
        background-size: cover;
    }
} */

canvas {
    z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
}

header{
    color: white;
    text-align: center;
    float: right;
}

a{
    text-align: center;
    text-decoration: none;
}

a:hover{
    background-color: red;
}

section{
    position: absolute;
    color: white;
    font-family:'Helvetica Neue';
    font-size: 20px;
    margin-top: 42%;
    margin-left: 40%;
}


